@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(124 45 18);
    background-color: rgb(251 146 60);
    cursor: pointer;
}
